<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="local" connectionString="Data Source=.;Initial Catalog=Freedom;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="cloud" connectionString="Data Source=tcp:freedomdev.database.windows.net,1433;Initial Catalog=Freedom;Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Authentication=Active Directory Integrated;"/>
  </connectionStrings>
  <log4net>
    <root>
      <level value="DEBUG"/>
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>