<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Use a local database instead of the default database -->
  <connectionStrings>
    <add name="default" connectionString="Data Source=.;Initial Catalog=Freedom;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <appSettings>
    <!-- Change the listening endpoint -->
    <add key="BaseAddress" value="https://+:8020/Freedom/"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
   
  </appSettings>
</configuration>